:root {
  --color-red: #f45946;
  --color-green: #36b37e;
  --color-orange: #ff991f;
  --color-radk: #2d132c;
  --color-light-grey: #f4f5f7;
  --color-dark-grey: #9b9b9b;
  --color-border: #dfe1e6;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 12px Helvetica, sans-serif;
}

img,
svg {
  vertical-align: top;
}

.button {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: rgba(255, 153, 31, 0.2);
}

.items-container {
  column-count: 2;
  column-gap: 0.2em;
  padding: 4px;
}

@media (max-width: 576px) {
  .items-container {
    column-count: 1;
  }
}

.category {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.header {
  background-color: var(--color-dark-grey);
  color: #fff;
  font-weight: bold;
}

.header,
.item-name {
  padding: 5px 15px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.item-name {
  overflow: hidden;
}

.item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light-grey);
  width: 90px;
  min-width: 90px;
  font-weight: bold;
}

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
}

.more::before {
  color: var(--color-red);
  content: "\25b2";
  margin-right: 4px;
}

.less::before {
  color: var(--color-green);
  content: "\25bc";
  margin-right: 4px;
}

.cart {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.th,
.td {
  box-sizing: border-box;
  width: 25%;
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}

.th {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--color-dark-grey);
  color: #fff;
}

.td .button {
  text-align: center;
  padding: 5px;
  color: var(--color-red);
  font-weight: bold;
}

.td.quantity .input-container {
  white-space: nowrap;
}

.td.quantity input {
  width: 60px;
  margin-right: 6px;
}

.limited-quantity {
  border: 1px solid var(--color-orange);
  padding: 5px;
  margin-top: 10px;
  color: var(--color-orange);
  background-color: rgba(255, 153, 31, 0.1);
  overflow: hidden;
  max-width: 80px;
}

.total {
  padding: 10px;
  width: 100%;
  text-align: right;
}

.total span {
  color: var(--color-orange);
  font-weight: bold;
  font-size: 16px;
}

.cart-toggle {
  background-color: var(--color-green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 2px;
  padding: 10px;
  margin: 0 5px;
}

.cart-toggle.button:hover {
  background-color: #69bd9a;
}

.cart-container {
  height: 0;
  width: 100%;
  overflow: hidden;
}
